* {
    box-sizing: border-box;
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEE;
    min-height: 100vh;
}
.loginArea {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 5px;
    background-color: #FFF;
    border: 1px solid #CCC;
}
h2 {
    margin: 0 0 20px 0;
}
input {
    display: block;
    width: 100%;
    outline: 0;
    border: 1px solid #CCC;
    padding: 15px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
input[type=submit] {
    background-color: #3f7125;
    color: #FFF;
    border: 0;
    cursor: pointer;
}

a {
    color: #000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.error {
    background-color: #d66366;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

